In [42]:
import numpy as np
import pandas as pd
import math

In [43]:
# 1.	Load and print the first 20 observations of the dataset. Report if you see any unusual values.
dataset = pd.read_csv('HousingData.csv')
# short notes for myself that describe the columns
# CRIM crime rate
# CHAS near bridge or not
# RM average room number
# AGE proportion of built houses somewhere before 1940
# DIS weighted mean to distances to 5 employment centres
# TAX property taxes per 10.000 dollars
# LSTAT somehow percentage of lower status people
# MEDV median value of home in 1000 dollars

dataset.head(20)

       CRIM  CHAS     RM    AGE     DIS  TAX  LSTAT  MEDV
0   0.00632   0.0  6.575   65.2  4.0900  296   4.98  24.0
1   0.02731   0.0  6.421   78.9  4.9671  242   9.14  21.6
2   0.02729   0.0  7.185   61.1  4.9671  242   4.03  34.7
3   0.03237   0.0  6.998   45.8  6.0622  222   2.94  33.4
4   0.06905   0.0  7.147   54.2  6.0622  222    NaN  36.2
5   0.02985   0.0  6.430   58.7  6.0622  222   5.21  28.7
6   0.08829   NaN  6.012   66.6  5.5605  311  12.43  22.9
7   0.14455   0.0  6.172   96.1  5.9505  311  19.15  27.1
8   0.21124   0.0  5.631  100.0  6.0821  311  29.93  16.5
9   0.17004   NaN  6.004   85.9  6.5921  311  17.10  18.9
10  0.22489   0.0  6.377   94.3  6.3467  311  20.45  15.0
11  0.11747   0.0  6.009   82.9  6.2267  311  13.27  18.9
12  0.09378   0.0  5.889   39.0  5.4509  311  15.71  21.7
13  0.62976   0.0  5.949   61.8  4.7075  307   8.26  20.4
14  0.63796   NaN  6.096   84.5  4.4619  307  10.26  18.2
15  0.62739   0.0  5.834   56.5  4.4986  307   8.47  19.9
16  1.05393   0.0  5.935   29.3  4.4986  307   6.58  23.1
17  0.78420   0.0  5.990   81.7  4.2579  307  14.67  17.5
18  0.80271   0.0  5.456   36.6  3.7965  307  11.69  20.2
19  0.72580   0.0  5.727   69.5  3.7965  307  11.28  18.2

Somehow I see places with very high crime rate but low lower status rate; crime == rich?

2.	Discuss what effects you would expect to see on the med home values (medv) for each variable.
    I expect to see more expensive homes with such conditions as: high room number, low criome rate, near the bridge 
    Values like AGE and DIS seem subjective for me and I think they differ from case to case. Also I don't think taxes matter that much,  
    and sadly I suppose towns/homes with lower LSTAT value are more expensive because rich ones want to stick to other rich

In [44]:
# 3.	Compile the table with summary statistics (min, max, med, etc). Add the measure of skewness to this table. 
# Comment on the table and report briefly if you see anything unusual in the statistics of your variables.
described_dataset = dataset.describe()
# described_dataset.loc['median'] = dataset.median() - 50 percentile is just our median
described_dataset.loc['skewness'] = dataset.skew()
described_dataset
# I found negative percentage of age and I think that's odd. say 0% if there are no houses built before 1940. What can be -0.5? 
# What is average room number of 0.4? Some houses don't have rooms?
# Some places don't have taxes (0.669) almost at all, given the median is 330 and max is 711
# * In general crime rate is about 0.2, but there are maxed places with 88 which looks way too much, must be an outlier; did it
#   affect the std this much?
# * Most of the houses are not near the bridge, but somehow I see max value as 3.38 which should not be the case, values should be 0/1

# TODO later after I have some clue how can some values from here be true

,CRIM,CHAS,RM,AGE,DIS,TAX,LSTAT,MEDV
count,486.000000,486.000000,506.000000,486.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,0.069959,6.284634,68.518519,3.795043,408.237154,12.715432,22.532806
std,8.720192,0.255340,0.702617,27.999513,2.105710,168.537116,7.155871,9.197104
min,0.006320,0.000000,3.561000,2.900000,1.129600,187.000000,1.730000,5.000000
25%,0.081900,0.000000,5.885500,45.175000,2.100175,279.000000,7.125000,17.025000
50%,0.253715,0.000000,6.208500,76.800000,3.207450,330.000000,11.430000,21.200000
75%,3.560263,0.000000,6.623500,93.975000,5.188425,666.000000,16.955000,25.000000
max,88.976200,1.000000,8.780000,100.000000,12.126500,711.000000,37.970000,50.000000
skewness,5.212843,3.382293,0.403612,-0.582470,1.011781,0.669956,0.908892,1.108098

In [45]:
# 4.	Check the types of your data. Change the types as appropriate (if any categorical variable present change its type to category).
print(dataset.dtypes)
dataset['CHAS'] = dataset['CHAS'].astype('category')
print(dataset.dtypes)
print(dataset)

CRIM     float64
CHAS     float64
RM       float64
AGE      float64
DIS      float64
TAX        int64
LSTAT    float64
MEDV     float64
dtype: object
CRIM      float64
CHAS     category
RM        float64
AGE       float64
DIS       float64
TAX         int64
LSTAT     float64
MEDV      float64
dtype: object
        CRIM CHAS     RM   AGE     DIS  TAX  LSTAT  MEDV
0    0.00632  0.0  6.575  65.2  4.0900  296   4.98  24.0
1    0.02731  0.0  6.421  78.9  4.9671  242   9.14  21.6
2    0.02729  0.0  7.185  61.1  4.9671  242   4.03  34.7
3    0.03237  0.0  6.998  45.8  6.0622  222   2.94  33.4
4    0.06905  0.0  7.147  54.2  6.0622  222    NaN  36.2
..       ...  ...    ...   ...     ...  ...    ...   ...
501  0.06263  0.0  6.593  69.1  2.4786  273    NaN  22.4
502  0.04527  0.0  6.120  76.7  2.2875  273   9.08  20.6
503  0.06076  0.0  6.976  91.0  2.1675  273   5.64  23.9
504  0.10959  0.0  6.794  89.3  2.3889  273   6.48  22.0
505  0.04741  0.0  6.030   NaN  2.5050  273   7.88  11.9

[506 rows x 8 columns]

In [47]:
# 5.	Substitute the NaN values with appropriate measures of central tendency 
# (mean, median, or mode – for the categorical variable – if you can’t change to mode, 
# then check what is the most frequent value of that variable (you can use value_counts) and change it to the most frequent value).
#  You may want to do this procedure for all variables to make sure that you did not miss a variable because you were not able to see 
# that the variable contains NaNs while inspecting the table. 
counter = 0
for column in dataset:
    for value in dataset[column].values:
        if math.isnan(value):
            # print(column+' has nan')
            counter += 1
print(counter)

CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CRIM has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
CHAS has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
AGE has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
LSTAT has nan
80